# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).

In [5]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import pandas as pd

In [7]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
df = pd.read_csv('baseball_games.csv')

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [11]:
max_attendance = df['attendance'].max()
games_with_max_attendance = df[df['attendance'] == max_attendance]
games_with_max_attendance

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
358,358,54449.0,Chicago Cubs,0,13,8,2016-10-20,on grass,Night Game,Los Angeles Dodgers,...,89.0,7.0,out to Centerfield,Night,12,4.266667,post season,0,1,Loss
360,360,54449.0,Chicago Cubs,2,13,10,2016-10-19,on grass,Night Game,Los Angeles Dodgers,...,89.0,4.0,out to Rightfield,Night,12,3.966667,post season,0,1,Loss

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [15]:
min_temperature = df['temperature'].min()
games_with_min_temperature = df[df['temperature'] == min_temperature]
games_with_min_temperature

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,...,31.0,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss

# 3. Какая игра была самая теплая за весь сезон?

In [17]:
max_temperature = df['temperature'].max()
games_with_max_temperature = df[df['temperature'] == max_temperature]
games_with_max_temperature

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,2026,21753.0,San Francisco Giants,0,8,3,2016-05-13,on grass,Night Game,Arizona Diamondbacks,...,101.0,9.0,in unknown direction,Sunny,4,3.0,regular season,0,1,Loss

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [177]:
df_regular_season = df[df['season'] == 'regular season']
max_game_hours_dec=df['game_hours_dec'].max()
games_with_max_game_hours_dec = df[df['game_hours_dec'] == max_game_hours_dec]
games_with_max_game_hours_dec

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_hits,temperature_celsius
1445,1445,45825.0,Cleveland Indians,0,15,2,2016-07-01,on turf,Day Game,Toronto Blue Jays,...,in unknown direction,In Dome,3,6.216667,regular season,0,1,Loss,26,20.0

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [29]:
df_regular_season = df[df['season'] == 'regular season']
min_game_hours_dec=df['game_hours_dec'].min()
games_with_min_game_hours_dec = df[df['game_hours_dec'] == min_game_hours_dec]
games_with_min_game_hours_dec

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,423,19991.0,Chicago Cubs,1,4,1,2016-09-29,on grass,Night Game,Pittsburgh Pirates,...,63.0,12.0,in from Leftfield,Overcast,2,1.25,regular season,0,0,Loss

# 6. Сколько матчей в сезоне закончилось ничьей?

In [33]:
df_regular_season = df[df['season'] == 'regular season']
games_count = len(df_regular_season[(df_regular_season['home_team_runs'] == df_regular_season['away_team_runs'])])
games_count

1

# 7. Какая игра была последней в сезоне?

In [41]:
#df_regular_season = df[df['season'] == 'regular season']
#last_game = df_regular_season.sort_values('date', ascending=False)
#last_game

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
386,386,44615.0,Pittsburgh Pirates,2,9,4,2016-10-02,on grass,Day Game,St. Louis Cardinals,...,71.0,6.0,out to Leftfield,Unknown,14,3.200000,regular season,1,0,Win
393,393,32587.0,Chicago Cubs,0,9,7,2016-10-02,on grass,Day Game,Cincinnati Reds,...,71.0,7.0,out to Leftfield,Unknown,11,3.300000,regular season,0,1,Loss
385,385,37015.0,Tampa Bay Rays,0,13,6,2016-10-02,on grass,Day Game,Texas Rangers,...,82.0,7.0,from Left to Right,Sunny,10,4.000000,regular season,0,1,Loss
349,349,28730.0,Miami Marlins,0,14,7,2016-10-02,on grass,Day Game,Washington Nationals,...,73.0,2.0,from Left to Right,Overcast,17,3.600000,regular season,1,0,Win
389,389,36935.0,New York Mets,3,8,2,2016-10-02,on grass,Day Game,Philadelphia Phillies,...,66.0,2.0,from Right to Left,Cloudy,7,2.650000,regular season,1,0,Win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450,2450,44317.0,Los Angeles Dodgers,0,17,15,2016-04-04,on grass,Day Game,San Diego Padres,...,72.0,12.0,from Left to Right,Cloudy,15,3.166667,regular season,0,1,Loss
2449,2449,15116.0,Toronto Blue Jays,1,7,5,2016-04-04,on turf,Night Game,Tampa Bay Rays,...,72.0,0.0,in unknown direction,In Dome,8,2.966667,regular season,0,1,Loss
2458,2458,31042.0,Toronto Blue Jays,2,7,5,2016-04-03,on turf,Day Game,Tampa Bay Rays,...,72.0,0.0,in unknown direction,In Dome,8,2.850000,regular season,0,1,Loss
2459,2459,39500.0,St. Louis Cardinals,0,5,1,2016-04-03,on grass,Day Game,Pittsburgh Pirates,...,39.0,14.0,out to Leftfield,Unknown,5,3.033333,regular season,1,0,Win
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win

# 8. У какой игры было минимальное количество зрителей?

In [43]:
df_regular_season = df[df['season'] == 'regular season']
min_attendance = df_regular_season['attendance'].min()
games_with_min_attendance = df_regular_season[df_regular_season['attendance'] == min_attendance]
games_with_min_attendance

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2130,2130,8766.0,Detroit Tigers,0,5,0,2016-05-04,on grass,Night Game,Cleveland Indians,...,54.0,11.0,from Left to Right,Overcast,4,2.316667,regular season,1,0,Win

# 9. Какая игра в сезоне была самая ветренная?

In [45]:
df_regular_season = df[df['season'] == 'regular season']
max_wind_speed = df_regular_season['wind_speed'].max()
games_with_max_wind_speed = df_regular_season[df_regular_season['wind_speed'] == max_wind_speed]
games_with_max_wind_speed

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1655,1655,41543.0,Milwaukee Brewers,1,11,5,2016-06-13,on grass,Night Game,San Francisco Giants,...,58.0,25.0,out to Centerfield,Cloudy,16,3.633333,regular season,1,0,Win
2005,2005,35736.0,Houston Astros,2,8,9,2016-05-15,on grass,Day Game,Boston Red Sox,...,58.0,25.0,out to Rightfield,Cloudy,19,3.666667,regular season,1,0,Win

# 10. В какой игре получили максимальное количество очков?

In [47]:
max_runs = df['total_runs'].max()
games_with_max_runs = df[df['total_runs'] == max_runs]
games_with_max_runs

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1788,1788,22588.0,Seattle Mariners,1,16,16,2016-06-02,on grass,Night Game,San Diego Padres,...,76.0,10.0,out to Rightfield,Sunny,29,3.833333,regular season,0,1,Loss

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [50]:
max_home_team_errors = df['home_team_errors'].max()
games_with_max_home_team_errors = df[df['home_team_errors'] == max_home_team_errors]
games_with_max_home_team_errors

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1178,1178,22581.0,Arizona Diamondbacks,1,11,8,2016-07-27,on grass,Night Game,Milwaukee Brewers,...,77.0,9.0,in from Leftfield,Cloudy,9,2.933333,regular season,0,1,Loss

# 12. В какой игре было максимальное количество хитов?

In [56]:
df['total_hits'] = df['away_team_hits'] + df['home_team_hits']
max_total_hits = df['total_hits'].max()
games_with_max_total_hits = df[df['total_hits'] == max_total_hits]
games_with_max_total_hits

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_hits
1413,1413,36253.0,Texas Rangers,0,16,5,2016-07-04,on grass,Day Game,Boston Red Sox,...,11.0,out to Centerfield,Cloudy,17,3.666667,regular season,1,0,Win,37

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [69]:
df_regular_season = df[df['season'] == 'regular season']
home_team_games = df_regular_season.groupby('home_team')['home_team'].count()
away_team_games = df_regular_season.groupby('away_team')['away_team'].count()
total_games_played = home_team_games.add(away_team_games, fill_value=0)
print("Количество игр, сыгранных каждой командой в регулярном сезоне:")
total_games_played

Количество игр, сыгранных каждой командой в регулярном сезоне:

home_team
Arizona Diamondbacks             162
Atlanta Braves                   161
Baltimore Orioles                162
Boston Red Sox                   162
Chicago Cubs                     162
Chicago White Sox                162
Cincinnati Reds                  162
Cleveland Indians                161
Colorado Rockies                 162
Detroit Tigers                   161
Houston Astros                   162
Kansas City Royals               162
Los Angeles Angels of Anaheim    162
Los Angeles Dodgers              162
Miami Marlins                    161
Milwaukee Brewers                162
Minnesota Twins                  162
New York Mets                    162
New York Yankees                 162
Oakland Athletics                162
Philadelphia Phillies            162
Pittsburgh Pirates               162
San Diego Padres                 162
San Francisco Giants             162
Seattle Mariners                 162
St. Louis Cardinals              162
Tampa Bay Rays                   162
Texas Rangers                    162
Toronto Blue Jays                162
Washington Nationals             162
dtype: int64

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [111]:
df_regular_season = df[df['season'] == 'regular season'].copy()

df_regular_season.loc[:, 'winning_team'] = df_regular_season.apply(
    lambda row: row['home_team'] if row['home_team_win'] == 1 else row['away_team'], axis=1 )

team_wins = df_regular_season.groupby('winning_team')['winning_team'].count().reset_index(name='win_count')
max_total_win = team_wins['win_count'].max()
command_with_max_win = team_wins[team_wins['win_count'] == max_total_win]
command_with_max_win

   winning_team  win_count
4  Chicago Cubs        104

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [123]:
df_home_wins = df[(df['season'] == 'regular season') & (df['home_team_win'] == 1)]

# Group by home team and count the number of wins
home_team_wins = df_home_wins.groupby('home_team')['home_team_win'].sum().reset_index(name='win_count')
max_total_win = home_team_wins['win_count'].max()
command_with_max_win = home_team_wins[home_team_wins['win_count'] == max_total_win]
command_with_max_win

      home_team  win_count
4  Chicago Cubs         57

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [131]:
df_away_wins = df[(df['season'] == 'regular season') & (df['home_team_loss'] == 1)]

away_team_wins = df_away_wins.groupby('away_team')['home_team_loss'].sum().reset_index(name='win_count')
max_total_win = away_team_wins['win_count'].max()
command_with_max_win = away_team_wins[away_team_wins['win_count'] == max_total_win]
command_with_max_win

              away_team  win_count
25  St. Louis Cardinals         48

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [137]:
df_regular_season = df[df['season'] == 'regular season'].copy()
df_regular_season['losing_team'] = df_regular_season.apply(lambda row: row['home_team'] if row['home_team_win'] == 0 else row['away_team'], axis=1)

team_loss = df_regular_season.groupby('losing_team')['losing_team'].count().reset_index(name='loss_count')
max_total_loss = team_loss['loss_count'].max()
command_with_max_loss = team_loss[team_loss['loss_count'] == max_total_loss]
command_with_max_loss

        losing_team  loss_count
16  Minnesota Twins         103

# 18. Зависит ли выигрыш от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [153]:
cov = df['attendance'].cov(df['home_team_win'])
print(f"Ковариация между посещаемостью и выигрышем домашней команды: {cov}")
if cov > 0.1:
    print("Если ковариация положительна, это означает, что с увеличением посещаемости увеличивается вероятность выигрыша домашней команды.")
elif cov < -0.1:
    print("Если ковариация отрицательна, это означает, что с увеличением посещаемости уменьшается вероятность выигрыша домашней команды.")
else:
    print("Если ковариация близка к нулю, это означает, что между посещаемостью и выигрышем домашней команды нет существенной связи.")

Ковариация между посещаемостью и выигрышем домашней команды: 224.97187335720443
Если ковариация положительна, это означает, что с увеличением посещаемости увеличивается вероятность выигрыша домашней команды.

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [171]:
df_home_losses = df[(df['season'] == 'regular season') & (df['home_team_win'] == 0)]

losses_by_day = df_home_losses.groupby('day_of_week')['home_team_loss'].count()
losses_by_day

total_home_losses = df_home_losses['home_team_loss'].count()
saturday_sunday_losses = losses_by_day.get('Saturday', 0) + losses_by_day.get('Sunday', 0)
proportion_saturday_sunday = saturday_sunday_losses / total_home_losses
if proportion_saturday_sunday > 0.5:
    print("Правда, большинство проигрышных домашних матчей приходится на Субботу и Воскресенье")
else:
    print("Неправда, большинство проигрышных домашних матчей не приходится на Субботу и Воскресенье")

Неправда, большинство проигрышных домашних матчей не приходится на Субботу и Воскресенье

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [175]:
df['temperature_celsius'] = (df['temperature'] - 32) * 5/9

cold_games = df[df['temperature_celsius'] < 0]
cold_games
#  из 10го вопроса знаем что total_runs там 29 при положительном значении температуры, поэтому ответ на вопрос НЕТ что бы там не имелось 
## ввиду { наибольшее количество ранов }

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_hits,temperature_celsius
2409,2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,...,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss,20,-0.555556